version: '3'

services:
  app:
    container_name: ai_google_hub
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    expose:
      - "3000"
    env_file:
      - .env.local

  nginx:
    image: nginx:alpine
    container_name: ai_google_hub_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
    depends_on:
      - app
    restart: always
